@property --color-background-light {
    syntax: "<color>";
    inherits: false;
    initial-value: #fffafa;
} 

@property --color-background-darkgray {
    syntax: "<color>";
    inherits: false;
    initial-value: #b7a59c;
} 

@property --color-btn-brown-light {
    syntax: "<color>";
    inherits: false;
    initial-value: #ba8f78;
} 

@property --color-btn-chocolate {
    syntax: "<color>";
    inherits: false;
    initial-value: #d25525;
} 

@property --color-text-darkolivegreen {
    syntax: "<color>";
    inherits: false;
    initial-value: #6d5040;
} 


html {
    background-color: var(--color-background-light);
    font-family: sans-serif;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    line-height: 1.5;
    height: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */
.hamburger {
    /* padding-right: 20px; */
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    position: absolute;
    top: 8px;
    left: 16px;
}

.hamburger .line {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--color-text-darkolivegreen);
}

.nav-links {
    display: none;
    position: absolute;
    top: 60px;
    padding: 20px 200px 20px 20px;
    background: linear-gradient(90deg, rgba(255, 250, 250, 1) 0%, rgba(255, 250, 250, 1) 50%, rgba(255, 250, 250, 0) 100%);
    /* background-color: var(--color-background-light); */
    opacity: 0.9;
    
}

.nav-links a{
    display: block;
    color: var(--color-text-darkolivegreen);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    line-height: 40px;
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--color-text-blue-light);
}

.expanded {
    display: unset
}

.hero-container {
    position: relative;
    text-align: center;
}

.hero-container img{
    object-fit: cover;
    width: 100%;
    height: 400px;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: var(--color-text-darkolivegreen);
}

.hero-text h1 {
    font-size: 2.5rem;
}

.hero-text p {
    font-size: 1.5rem;
}

.btn {
    font-size: 1.5rem;
    background-color: var(--color-btn-brown-light);
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px 80px 10px 80px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-btn-chocolate);
}


@media screen and (min-width: 600px) {
    .hero-text {
        top: 50%;
        left: 29%;
    }
     
    .hero-text h1 {
        font-size: 4.5rem;
    }
    
    .hero-text p {
        font-size: 2.0rem;
    }

    .hero-container img{
        width: 100%;
        height: 600px;
    }  
    
    .nav-links {
        margin-left: 5em;
        display: block;
        position: absolute;
        top: 8px;
        left: 16px;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}






