---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Zsák Kata - Rólam";


---

<BaseLayout pageTitle={pageTitle}>

<section>
<div class="container">
    <p>
        Egyéni kommunikációs és social media mentorálást tartok alkotóknak, művészeknek, egyéni vállalkozóknak, coachoknak, jóga tanároknak... bárkinek, aki úgy érzi elakadt.
    </p>
    <ul>
        <li>Ha olyan a Facebook elé leülni, mintha a fogadat húznák...</li>
        <li>Ha tudod, hogy kellene posztolni, de fogalmad sincs mit...</li>
        <li>Ha mindig utólag jut eszedbe, hogy ezt jó lett volna kitenni...</li>
        <li>Ha több mindent csinálsz egyszerre, és nem tudod ezt hogyan fogd össze és kommunikáld egy helyen...</li>
        <li>Ha nem tudod mennyit ossz meg magadból nyilvánosan...</li>
        <li>Ha tudod, hogy kellene marketinggel foglalkoznod, de lövésed sincs hogyan kezdj bele...</li>
    </ul>
    <p>
        Pár alkalmas találkozókon segítek marketing szempontból rendet tenni, hasznos tippekkel, tanácsokkal látlak el, hogyan lehet a legkisebb energiabefektetéssel, a legnagyobb hatékonyságot elérni. Elmondom melyik kommunikációs platformon mit érdemes neked kommunikálni. Segítek kampányokat kitalálni, beszélgetünk hirdetésekről.
    </p>
    <p>
    2012 óta foglalkozom kommuniukációval, marketinggel, social mediával, PR-ral. Azóta számtalan alkotóval, művésszel, zenésszel, kreatívval dolgoztam már együtt.
    </p>
</div>  
</section>

</BaseLayout>

<style>

    .container {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }
    p, ul {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    @media screen and (min-width: 1200px) {
    p, ul {
        font-size: 1.5em;
        line-height: 1.5em;
    }   
    }
</style>