---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Zsák Kata - Rólam";


---

<BaseLayout pageTitle={pageTitle}>

<section id="rolam" class="section">
<h1 class="pageHeader">Rólam</h1>
<div class="container">
    <p>Kommunikációval, marketinggel és social mediával több mint tíz éve foglalkozom, és azóta szenvedélyemmé vált az, hogy másokat segítsek eligazodni ezen a folyamatosan változó területen. Egyéni kommunikációs és social media mentorálást tartok alkotóknak, művészeknek, egyéni vállalkozóknak, coachoknak és bárkinek, aki úgy érzi, elakadt. Hiszem, hogy a hatékony kommunikáció nemcsak eszköz, hanem kulcs az önmegvalósításhoz és a sikerhez.</p>
    <h2>Miért fordulj hozzám?</h2>
    <p>Sokan azt érzik, hogy a közösségi médiával dolgozni olyan, mintha foghúzásra ülnének le: kényszeres, nehézkes és stresszes. Megszólítani a közönséget, jól kommunikálni a tevékenységünkről, vagy egyszerűen csak eldönteni, mit és hogyan osszunk meg, sokaknak kihívást jelent. Ha ismerős neked is, hogy:</p>
    <ul>
    <li>fogalmad sincs, mit posztolj, pedig tudod, hogy kellene,</li>
    <li>utólag jut eszedbe, hogy valamit jó lett volna megosztani,</li>
    <li>nem tudod, hogyan rendszerezd a sokféle dolgot, amit egyszerre csinálsz,</li>
    <li>bizonytalan vagy abban, mennyit ossz meg magadról,</li>
    <li>vagy egyszerűen azt érzed, hogy elveszel a marketing világában, akkor jó helyen jársz.</li>
    </ul>
    <p>Pár alkalmas találkozó során segítek rendet tenni a kommunikációdban. Közösen kialakítjuk a számodra leghatékonyabb stratégiát:</p>
    <ul>
    <li>megmutatom, mely platformokon és hogyan érdemes jelen lenned,
    <li>hasznos tippeket és tanácsokat adok, hogy minimális energiabefektetéssel a lehető legnagyobb hatást érhesd el,</li>
    <li>kampányokat és kreatív ötleteket dolgozunk ki együtt,</li>
    <li>és megbeszéljük, hogyan használd a hirdetéseket okosan.</li>
    </ul>
    <h2>Tapasztalataim</h2>
    <p>Pályám során számtalan területen dolgoztam. Senior Account Directorként egy PR ügynökségnél ügyfelekkel és csapatokkal is foglalkoztam, és vezettem olyan projekteket, mint például a Bridgestone Tatabányai gyárának bővítése, amelyen Orbán Viktor is beszédet mondott. Ez a projekt olyan büszkeséget jelentett számomra, mint a Szegedi Vadaspark Igor nevű tigrisének őssejtes kezelése, amely nemcsak a magyar, hanem a világsajtót is bejárta – ezért a munkáért 2018-ban Prizma PR díjat nyertünk.</p>
    <p>Dolgoztam Berlinben a Facebook projektjén, illetve szintén itt, egy művészeti galéria nemzetközi megnyitóját szerveztem meg, amely szintén kiemelkedő élmény volt számomra. Az Európai Unió Kommunikációs osztályának projektjeit is vezettem, például a Sziget Fesztiválon megvalósított aktivitások során.</p>
    <h2>Kikkel dolgozom együtt?</h2>
    <p>Széleskörű tapasztalatot szereztem különböző területeken:</p>
    <ul>
        <li><b>Civil szféra:</b> Olyan szervezetekkel dolgoztam, mint az Adománytaxi Alapítvány, az OSA Archívum vagy a Haver Alapítvány.</li>
        <li><b>Üzleti világ:</b> Részt vettem többek között a Bridgestone, a Lego, és a GE projektjeiben.</li>
        <li><b>Zene és művészet:</b> Együtt dolgoztam zenekarokkal, mint a Carbonfools vagy a Mörk, illetve alkotókkal és kulturális fesztiválokkal, mint az OFF-Biennále Budapest.</li>
        <li><b>Egyéni vállalkozók:</b> Coachokkal, jógaoktatókkal, dizájnerekkel, írókkal és kreatív szakemberekkel segítek fejleszteni a kommunikációjukat.</li>
    </ul>
    <h2>Mit nyújtok neked?</h2>
    <p>A mentorálásaim során nemcsak a technikai megoldásokra, hanem az önazonosságra is fókuszálok. Az a célom, hogy a kommunikációd ne csak hatékony legyen, hanem igazán a te személyiségedet, értékeidet tükrözze. Az évek során megtanultam, hogy a jó kommunikáció mindig a hitelességnél kezdődik.</p>
    <p>Ha úgy érzed, segítségre van szükséged, hogy átláthatóbbá és hatékonyabbá tedd a kommunikációdat, keress bizalommal. Számomra az a legnagyobb öröm, ha valakit elindíthatok a fejlődés útján, és segíthetek abban, hogy megtalálja a saját hangját.</p>
</div>  
</section>

</BaseLayout>

<style>
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }
</style>