---
import Social from "./Social.astro"
import SubscribeMailChimp from "./SubscribeMailChimp.astro"
---
<footer id="kapcsolat">
    <div class="container">
        <div class="contact">
            <h1>Kapcsolat</h1>
            <h2>EMAIL</h2>
            <p>zsakkata@gmail.com</p>
            <h2>TELEFON</h2>
            <p>+36 20 572 1811</p>
            <div class="social">
                <Social platform="facebook" username="zsak.kata.kommunikacio/"/>
                <Social platform="instagram" username="zsak.kata.kommunikacio/"/>
            </div>
        </div>
        <SubscribeMailChimp />
        <picture>
            <source srcset="/footer_kata.webp" media="(max-width: 600px)">
            <source srcset="/footer_kata.webp" >
            <img src="/footer_kata.webp" alt="Zsák Kata">
        </picture>
    </div>
</footer>

<style>
    footer {
        background-image: url("/footer.webp");
        background-repeat: no-repeat;
        background-size: cover;
        height: 932px;
        box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.8);
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .contact {
        padding: 1em;
        margin-bottom: 2em;
        text-align: center;
    }

    .contact h1 {
        margin-bottom: 1em;
    }

    .contact h2 {
        margin-bottom: 0.5em;
    }

    .contact p {
        font-weight: 500;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } 
    
    .container img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 0px;
    }

    @media screen and (min-width: 1200px) {
        footer {
            background-position: 0px -800px;
            height: 700px;
        }

        .container{
            flex-direction: row;
            justify-content: center;
            gap: 4em;
        }

        .container img {
            width: 400px;
            border-radius: 25px;
        }
    }

</style>