---
---
<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>

.hamburger {
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1000;
}

.hamburger .line {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #6d5040;
}

@media screen and (min-width: 1100px) {
    .hamburger {
        display: none;
    }

}
</style>