---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---
<header>
    <img src="/header.jpg" alt="header" class="header-image"/>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
