---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---
<header>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Zsák Kata</h1>
            <p>Önazonos és támogató kommunikáció</p>
            <button>Érdekel</button>
        </div>
    </div>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
