---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---
<header>
    <span class = "logo">
        <a href = "/">
            <img src = "/milkol_logo_big.png" alt = "Logo" />
        </a>
    </span>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
