---
---
<section>
<div class="container">
    <h1>Mivel foglalkozok?</h1>
    <p>Egyéni kommunikációs és social media mentorálást tartok alkotóknak, művészeknek, egyéni vállalkozóknak, coachoknak, jóga tanároknak... bárkinek, aki úgy érzi elakadt.</p>
    <p>Pár alkalmas találkozókon segítek marketing szempontból rendet tenni, hasznos tippekkel, tanácsokkal látlak el, hogyan lehet a legkisebb energiabefektetéssel, a legnagyobb hatékonyságot elérni. Elmondom melyik kommunikációs platformon mit érdemes neked kommunikálni. Segítek kampányokat kitalálni, beszélgetünk hirdetésekről.</p>
    <h2>Dolgozz velem, ha...</h2>
    <ul>
        <li>Ha olyan a Facebook elé leülni, mintha a fogadat húznák...</li>
        <li>Ha tudod, hogy kellene posztolni, de fogalmad sincs mit...</li>
        <li>Ha mindig utólag jut eszedbe, hogy ezt jó lett volna kitenni...</li>
        <li>Ha több mindent csinálsz egyszerre, és nem tudod ezt hogyan fogd össze és kommunikáld egy helyen...</li>
        <li>Ha nem tudod mennyit ossz meg magadból nyilvánosan...</li>
        <li>Ha tudod, hogy kellene marketinggel foglalkoznod, de lövésed sincs hogyan kezdj bele...</li>
    </ul>
    <a href="/rolam#rolam" class="btn">Bővebben</a>
</div>
</section>

<style>
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 1em;
    max-width: fit-content;
    align-self: center;
}

</style>