---
const {frontmatter} = Astro.props
---
<section id="intro">
    <div class="card">
        <div class="card-content">
            <h2>Önazonos és támogató kommunikáció</h2>
            <p>
                Egyéni kommunikációs és social media mentorálást tartok alkotóknak, művészeknek, egyéni vállalkozóknak, coachoknak, jóga tanároknak... bárkinek, aki úgy érzi elakadt.
            </p>
            <a href="/rolam"><button class="btn">Ismerj meg!</button></a>
        </div>
    </div>
</section>

<style>

.card {
    margin-bottom: 2em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto; 
}

.card h2 {
    text-align: left;
    font-size: 1.0rem;
    font-weight: 600;
}

.card p {
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
}

@media screen and (min-width: 1200px) {
    
    .card {
        max-width: 1300px;
    }

    .card-content {
        padding-bottom: 20px;
    }

    .card h2 {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .card p {
        font-size: 1.5em;
        line-height: 1.5em;
        text-align: left;
    }
}

</style>