---
const {platform, username} = Astro.props;
---
<a class:list={[{facebook: platform==="facebook"}, {insta: platform==="instagram"}]} href={`https://www.${platform}.com/${username}`}></a>

<style>
    a {
        display: block;
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: center;
        height: 55px;
        width: 55px;
        margin: 0.5em;
    }

    .facebook {
        background-image: url("/facebook.svg");
    }

    .insta {
        background-image: url("/instagram.svg");
    }
</style>